:root{
    --main-color: #181D25;
    --second-color: #69484E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-section{
    padding: 100px 0;
}

.about-h2{
    color: var(--main-color);
}
.about-h2 span{
    color: var(--second-color);
}




.companies img{
    width: 200px;
    margin-bottom: 50px;
}
.companies{
    text-align: center;
}
footer{
    background-color: var(--main-color);
    padding: 50px 0 70px 0;
    color: #fff;
    text-align: center;
}
.footer-p{
    font-size: 20px;
    margin-top: -60px;
}
footer ul{
    padding-top: 80px;
}
footer li{
    list-style-type: none;
}
.footer-links{
    margin-top: 70px;
}
.footer-links a{
    color: #fff;
}













.who-are-we{
    padding: 100px 0 100px 0;
}

.who-p{
    text-align: center;
    margin: auto;
}










.social-media a{
    text-decoration: none;
    color: #3f59ff;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #3f59ff;
}
.social-media a:hover{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #3f59ff;
    border: 1px solid #fff;
}
.social-media a:hover .fa-facebook{
    color: #fff;
}
.social-media a:hover .fa-linkedin{
    color: #fff;
}
.media-link{
    margin-bottom: 50px;
}
.fa-facebook,
.fa-linkedin{
    color: #3f59ff;
}




.albom img{
    margin-bottom: 50px;
}



.menu{
    margin: 100px 0;

}

table{
    /* width: 18%; */
    direction: rtl;
    border: 2px solid #222;
    height: 300px;
}

.first-tr{
    border-bottom: 1px solid #222;
}

.fillter{
    text-align: center;
}
.wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .button-value {
    border: 2px solid #E6C478;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #E6C478;
    cursor: pointer;
  }
  .button-value:hover {
    border: 2px solid transparent;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: #E6C478;
    color: #68484E;
    cursor: pointer;
  }

  #products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
  }
  .card {
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    border: none;
    /* box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08); */
  }
  .image-container {
    text-align: center;
  }
  .image-container img {
    object-fit: contain;
    height: 15em;
    width: 30em;
  }

  .container h5 {
    font-weight: 500;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }

.signup{
    display: flex;
    justify-content: center;
}

.signup form{
    text-align: center;
    width: 350px;
    height: 400px;
    background-color: #E6C478;
    padding-top: 50px;
    border: none;
    border-radius: 30px;
    margin: 80px 0;
}
.signup form input{
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    outline: none;
}
::placeholder{
    padding-left: 20px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.submit{
    background-color: #68484E;
    color: #fff;
}

table {
    background-color: #8D9384;
    width: 500px;
    font-size: 17px;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid #fff;
}
table tr{
    padding: 20px 10px;
}
table td{
    color: #fff;
}

tbody, td, tfoot, th, thead, tr {
    padding: 20px;
}